:root {
    --MainColor : #1E202B;
}

* {
  font-family: "Roboto", sans-serif;
}

/* Nav */

nav {
    background-color: #1E202B;
}

.nav-item .nav-link.active  {
    border: 2px solid #009ad8;
    border-radius: 20px;
    color: #009ad8;
    padding: 3px 25px;
}

.nav-link {
    transition: 0.4s;
    border-radius: 20px;
    color: white;
    padding: 3px 25px;
    border: 2px solid transparent;
}
.nav-link:hover  {
    border-color: #009ad8;
    color: #009ad8;
    transition: 0.4s;
}
/* Nav */

/* Main */

#main {
    background-image: url('../img/pexels-pixabay-209831.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.layer {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

input#search {
    width: 100%;
    padding: 20px 50px 20px 20px;
    background: #1e202b;
    color: white;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 30px;
}

.submit {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    background: #009ad8;
    border-radius: 30px;
    color: white
}

.submit:hover {
    color: white;
    background: #009ad8;
}


#nowdata{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}



#nowdata,#dataday2 {
    background-color: #323544;
}

#dataday1 {
    background-color: #262936;
}

#dataday1 .header {
    background-color: #222530;
}

.nowheader,#dataday2 .header {
    background-color: #2D303D;
}

.mainnum {
    font-size: 75px;
}
/* Main */